<div class="container">
  <div class="row">
    <!-- map -->
    <div class="col-12" style="height: 150px">
      <h2>MAP</h2>
    </div>

    <div class="row">
      <div class="col-4">
        <img
          src="https://chartio.com/assets/3ad3d8/tutorials/charts/pie-charts/8f2915ab9024902155c5d27d430831be813de071853c69d778102722a4d0efbf/pie-chart-example-1.png"
        />
      </div>
      <div class="col-4">
        <img
          src="https://chartio.com/assets/3ad3d8/tutorials/charts/pie-charts/8f2915ab9024902155c5d27d430831be813de071853c69d778102722a4d0efbf/pie-chart-example-1.png"
        />
      </div>
      <div class="col-4">Stacked Bar Chart</div>
    </div>
  </div>
</div>
